@font-face {
  font-family: 'Gagalin-regular';
  src: url("../fonts/Gagalin-Regular/Gagalin.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/Ubuntu.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url("../fonts/ubuntu/Ubuntu-Bold.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Light';
  src: url("../fonts/ubuntu/Ubuntu-light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/ubuntu/Ubuntu-Medium.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack-Medium';
  src: url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial, Helvetika, sans-serif;
  line-height: 1.42;
  position: relative;
  font-size: 16px;
  font-family: 'ubuntu', Helvetica, sans-serif;
  font-weight: 300; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

p {
  margin: 0;
  padding: 0; }

footer {
  position: relative; }

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%; }

.container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 940px;
  width: 95%;
  margin: 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.maincontent {
  min-height: 650px; }

.section {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 940px;
  min-height: 650px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.hero {
  background: url("../images/bg/hero-bg.png") center center no-repeat;
  background-size: cover;
  position: relative;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.hero__wrapper {
  height: 80%; }

.hero__container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px; }

.header__logo {
  margin-right: auto; }

.header__btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.nav {
  margin-right: 0.9375rem; }

.nav__list {
  margin: 0;
  padding: 0; }

.nav__items {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__items:last-child:after {
    display: none; }
  .nav__items:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #ffffff;
    margin: 0 16px; }

.nav__link {
  color: white;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.hero__present {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.hero__text {
  font-family: 'Lifehack-Medium', Helvetica, sans-serif;
  font-size: 72px;
  color: #fff;
  padding-left: 10px; }
  .hero__text .hero__title {
    color: #f9b43b;
    margin-bottom: 25px;
    padding-top: 75px; }
  .hero__text .hero__desc {
    padding-top: 20px; }

.hero__container-arrow {
  position: absolute;
  bottom: -15%; }

.best {
  background: url("../images/bg/best.png") center center no-repeat;
  background-size: cover;
  text-align: center; }

.best__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.best__item {
  margin: 0 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.best__title {
  color: #2f3234;
  margin-bottom: 90px; }

.best__title-item {
  font-size: 24px;
  font-family: 'Lifehack-Medium', Helvetica, sans-serif;
  color: #2f3234; }

.best__pic {
  height: 90px; }

.svg__icon_best-meat {
  fill: #e45028; }

.svg__icon_best-hand {
  fill: #f9b43b; }

.svg__icon_best-natural {
  fill: #8ac03e; }

.btns {
  padding: 10px 15px;
  background: #e45028;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 13px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.section-title {
  font-family: 'Gagalin-regular', Helvetica, sans-serif;
  font-size: 72px; }

.svg__icon {
  width: 100%;
  height: 100%; }
