@font-face {
  font-family: 'Gagalin-regular';
  src: url("../fonts/Gagalin-Regular/Gagalin.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/Ubuntu.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url("../fonts/ubuntu/Ubuntu-Bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url("../fonts/ubuntu/Ubuntu-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/ubuntu/Ubuntu-Medium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lifehack-Medium';
  src: url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@mixin gagalin() {
  font-family: 'Gagalin-regular', Helvetica, sans-serif ;
}

@mixin ubuntu($style: light) {
  font-family: 'ubuntu', Helvetica, sans-serif ;
  @if $style == light {
  font-weight: 300;
  }

  @if $style == medium {
    font-weight: 500;
  }

  @if $style == bold {
    font-weight: bold;
  }
}

@mixin lifehack() {
  font-family: 'Lifehack-Medium', Helvetica, sans-serif ;
}

