.btns {
  padding: 10px 15px;
  //background: $orange_color;
  text-transform: uppercase;
  color: $white_color;
  border-radius: 5px;
  text-decoration: none;
  font-size: 13px;
  display: inline-flex;
}

.section-title {
  @include gagalin();
  font-size: 72px;
}

.svg__icon {
  width: 100%;
  height: 100%;
}

