.order__btn {
  padding: 10px 15px;
  background: $orange_color;
  text-transform: uppercase;
  color: $white_color;
  border-radius: 5px;
  text-decoration: none;
  font-size: 13px;
  display: inline-flex;
  padding-left: 15px;
}